* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--bg_default);
  }
  
  body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Nunito Sans";
    background-color: var(--bg_body);
    color: var(--body-text);
  }
  
  .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .btn {
    border: none;
    background: none;
    cursor: pointer;
  }
  
  .gab {
    gap: 0.5rem;
  }
  .nav {
    padding: 16px 48px;
  }
  h2 {
    font-weight: 800;
    font-size: 1.3rem;
    color: var(--brand-secondary);
  }
  
  h3 {
    font-weight: 700;
    font-size: 1rem;
    color: var(--brand-primary);
  }
  
  p {
    font-weight: 400;
    font-size: 1rem;
  } 
  main {
    background-color: var(--bg_body);
    padding: 16px 32px;
  }
  
  main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  } 
  .mode-btn,
  .favourites-btn {
    border: 1px solid var(--lines-color);
    border-radius: 0.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4.8px;
    color: var(--body-text);
  }
  
  .btn {
    border: none;
    background: none;
    cursor: pointer;
  }
  
  .container{
    padding: 0.5rem;
    max-height: 500px;
    height: 100%;
  }
  .cardImg{
    display: flex;
    max-width: 225px;
    width: 100%;
    height: 120px;
    /* min-height: 120px; */
    max-height: 120px;
  }
  .topic {
    box-sizing: border-box;
    float: left;
    text-align: left;
    border-radius: 16px;
    cursor: pointer;
    background-color: var(--bg_default);
    overflow: hidden;
    box-shadow: 0 14px 28px var(--lines-color) (0, 0, 0, 0.08),
      0 10px 10px var(--lines-color) (0, 0, 0, 0.05);

  }
  
  .topic-img {
    width: 100%;
    height: 176px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    /* background-color: #dddddd; */
  }
  .topics-container {
    background-color: var(--bg_body);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));

    grid-gap: 1.25rem;
  }
  .information-for-topic {
    padding: 16px;
  }
  
  .topic-img img {
    width: 100%;
    /* height: 100%; */
    height: auto;
    object-fit: cover;
  }
  
  ul {
    list-style: none;
    display: flex;
    padding-top: 0;
    justify-content: flex-start;
    align-items: center;
  }
  
  li {
    padding-top: 32px;
  }
  
  .star-filled,
  .star-outline {
    color: var(--star-color);
  }
  .select-label-container{
    width: 100%;
  }
  
  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .two-triangles-box {
    position: relative;
    max-height: 120px;
  }
  
  .triangle1,
  .triangle2 {
    width: 100%;
    min-height: 60px;
  }
  
  .triangle1 {
    clip-path: polygon(0 0, 0 80%, 100% 0);
    position: relative;
    left: 0;
    top: -3.8rem;
    background: rgb(7, 104, 172);
    background: linear-gradient(
      90deg,
      var(--brand-primary) 0%,
      var(--brand-secondary) 100%
    );
  }
  
  .triangle2 {
    z-index: -1;
    top: 0;
    background-color: var(--brand-secondary);
    clip-path: polygon(0 0, 100% 80%, 100% 0);
  }
  
  .welcome-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transform: translateY(-4.5rem);
    background-color: transparent;
  }
  
  .welcome-box * {
    background-color: transparent;
  }
  
  .welcome-box h2 {
    text-align: center;
    
  }
  :root {
    /* Default (light mode) colors */
    --brand-primary: #0768ac;
    --brand-secondary: #03c180;
    --bg_default: #ffffff;
    --bg_body: #f0f9ff;
    --lines-color: #dddddd;
    --body-text: #333333;
    --heart-color: #dc143c;
  }
  
  body.light-mode {
    /* Light mode colors */
    --brand-primary: #0768ac;
    --brand-secondary: #03c180;
    --bg_default: #ffffff;
    --bg_body: #f0f9ff;
    --lines-color: #dddddd;
    --body-text: #333333;
    --heart-color: #dc143c;
  }
  
  body.dark-mode {
    /* Dark mode colors */
    --brand-primary: #0768ac;
    --brand-secondary: #03c180;
    --bg_default: #1a1a1a;
    --bg_body: #282828;
    --lines-color: #000000;
    --body-text: #ededed;
    --heart-color: #dc143c;
  }
  .select {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-left: 1px solid var(--lines-color);
    align-items: flex-start;
    min-width: 160px;
    padding: 8px;
  }
  
  
  #sort,
  #filter {
    width: 100%;
    color: var(--body-text);
    font-size: 0.8rem;
  }
  
  select {
    border: none;
    background: none;
  }
  
  .search-box {
    padding: 8px;
  }
  
  .search {
    border: none;
    background: none;
    outline: none;
  }
  
  .search-sort-filter-box {
    border: 1px solid var(--lines-color);
    border-radius: 8px;
    background-color: var(--bg_default);
  }
  
  .search-sort-filter-box .search-box input {
    font-size: 0.85rem;
  }

  footer {
    background-color: var(--bg_body);
    padding: 8px 32px;
  }
  
  .footer-div {
    background-color: var(--bg_body);
    justify-content: center;
    align-items: center;
    display: flex;
  }
  
  .footer-div p {
    background-color: var(--bg_body);
  }
  
  .heart-icon {
    background-color: var(--bg_body);
    color: var(--heart-color);
  }
  